#ML models
*.onnx
*.tflite
*.pt
*.engine
*.h5

#Build Output 
dist/
build/

#Datasets
datasets/
runs/
Currency/
combined_dataset/
stair_dataset/
pothole*/
zebra*/
Zebra_crossing/
*.zip


#environments
dl_env/
.venv
.env
.env.local
.env.*.local

#python cache
__pycache__/


#Node Modules
node_modules/

#Stitch UI
stitch_ui/
photos/
Models/

#VS code
.vscode


#OS
thums.db